<div appBackgroundControl [stato]="account.stato">
  <div class="card-header ">{{account.nome}}</div>
  <p>{{account.tipo}}</p>
  <p>{{account.stato}}</p>

  <div class="container">
  <button [disabled]="account.active" class="btn btn-primary m-2 mb-3 " type="button" (click)="onChangeStato('active')">Active</button>
  <button [disabled]="account.inactive" class="btn btn-primary m-2 mb-3" type="button" (click)="onChangeStato('inactive')">Inactive</button>
  <button [disabled]="account.hidden" class="btn btn-primary m-2 mb-3" type="button" (click)="onChangeStato('hidden')">Hidden</button>
</div>
</div>
