<div appBackgroundControl [stato]="account.stato">
  <h3>{{account.nome}}</h3>
  <p>{{account.tipo}}</p>
  <p>{{account.stato}}</p>

  <div class="container">
  <button [disabled]="account.active" class="btn btn-primary m-2" type="button" (click)="onChangeStato('active')">Active</button>
  <button [disabled]="account.inactive" class="btn btn-primary m-2" type="button" (click)="onChangeStato('inactive')">Inactive</button>
  <button [disabled]="account.hidden" class="btn btn-primary m-2" type="button" (click)="onChangeStato('hidden')">Hidden</button>
</div>
</div>
